body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 10px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.textarea-form {
  background-color: #edf0f5;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border: 1px solid #edf0f5;
  padding: 20px;
  width: 100%;
  transition: border 0.3s ease;
  /* font-family: "Jetbrains Mono Regular", 'Courier New', Courier, monospace; */
  font-size: 16px;
  color: #646d7c;
  line-height: 1;
  display: block; }
  .textarea-form:focus {
    outline: 0;
    box-shadow: none;
    border-color: #a4a8b0; }
  .textarea-form::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    /* font-family: "Jetbrains Mono Regular", 'Courier New', Courier, monospace; */
    font-size: 16px;
    color: #a4a8b0;
    line-height: 1;
    display: block;
    line-height: -moz-block-height; }
  .textarea-form:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #909;
    /* font-family: "Jetbrains Mono Regular", 'Courier New', Courier, monospace; */
    font-size: 16px;
    color: #a4a8b0;
    line-height: 1;
    display: block;
    line-height: -moz-block-height; }
  .textarea-form::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #909;
    /* font-family: "Jetbrains Mono Regular", 'Courier New', Courier, monospace; */
    font-size: 16px;
    color: #a4a8b0;
    line-height: 1;
    display: block;
    line-height: -moz-block-height; }
  .textarea-form:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    /* font-family: "Jetbrains Mono Regular", 'Courier New', Courier, monospace; */
    font-size: 16px;
    color: #a4a8b0;
    line-height: 1;
    display: block;
    line-height: -moz-block-height; }
  .textarea-form::-ms-input-placeholder {
    /* Microsoft Edge */
    /* font-family: "Jetbrains Mono Regular", 'Courier New', Courier, monospace; */
    font-size: 16px;
    color: #a4a8b0;
    line-height: 1;
    display: block;
    line-height: -moz-block-height; }
  .textarea-form::placeholder {
    /* Most modern browsers support this now. */
    /* font-family: "Jetbrains Mono Regular", 'Courier New', Courier, monospace; */
    font-size: 16px;
    color: #a4a8b0;
    line-height: 1;
    display: block;
    line-height: -moz-block-height; }
  .textarea-form.trans-bg {
    background-color: transparent; }