{% extends "blog/base.html" %}
{% block title %}{{ object.author }} | {{ object.title }}{% endblock %} 
    {% block content %}

    <div class="main-content detail">

      <div class="page-content post">
          <div class="container-fluid">
            <article class="media content-section detail-post">
                  <div class="media-body">
                    <div class="article-metadata">
                      <a href="{{ object.author.profile.get_absolute_url }}">
                        <img class="rounded-circle article-img" alt="{{ object.author }}" src="{{ object.author.profile.image.url }}" />
                      </a>
                      <span class="h4">{{ post.author.profile.displayname }}</span>
                      <a class="mr-2 username" href="{{object.author.profile.get_absolute_url}}"><span>@</span>{{ object.author }}</a>
                      <!-- <small class="text-muted">{{ object.date_posted|timesince }}</small> -->
                        <!-- {% if object.author == user %}
                            <div>
                                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                            </div>
                        {% endif %} -->

                        <div class="dropdown float-right position-relative mt-2">
                          <a href="#" class="dropdown-toggle h4 text-muted" data-toggle="dropdown"
                              aria-expanded="false">
                              <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <ul class="dropdown-menu dropdown-menu-right">
                              <!-- <li><a href="#" class="dropdown-item">Not interested in this post</a></li> -->
                              <!-- <li class="dropdown-divider"></li> -->
                              
                              
                              {% if object.author == user %}
                                <li><a class="dropdown-item" href="{% url 'post-update' object.id %}">Update Post</a></li>
                                <li><a class="dropdown-item" href="{% url 'post-delete' object.id %}">Delete Post</a></li>
                              {% else %}
                              <li><a href="#" class="dropdown-item">Follow <span>@</span>{{post.author}}</a></li>
                              <li><a href="#" class="dropdown-item">Mute <span>@</span>{{post.author}}</a></li>
                              <li><a href="#" class="dropdown-item">Block <span>@</span>{{post.author}}</a></li>
                              <li class="dropdown-divider"></li>
                              <li><a href="#" class="dropdown-item">Report Post</a></li>

                              {% endif %}
                          </ul>
                      </div>
                    </div>

                    <div class="border-bottom post_detail_section border-sm">

                      <h2 class="article-title">{{ object.title }}</h2>
                      <p class="article-content">{{ object.content }}</p>

                      <small class="text-muted post_detail_time">{{ object.date_posted|time }} <span>|</span> {{ object.date_posted|date:'m D, Y' }}</small>
                    </div>
                    {% if object.number_of_comments == 0 and object.num_likes == 0 %}
                      <div class="border-bottom d-none border-sm py-3 py-lg-4">
                        {% if object.number_of_comments == 0 %}
                          <a class="d-none text-white">{{ object.number_of_comments }} <span class="text-muted">Comment{{ object.number_of_comments|pluralize }}</span></a>
                        {% else %}
                          <a class="mr-3 text-white">{{ object.number_of_comments }} <span class="text-muted">Comment{{ object.number_of_comments|pluralize }}</span></a>
                        {% endif %}

                        {% if object.num_likes == 0 %}
                          <a href="" class="d-none text-white" data-toggle="modal" data-target="#likemodal">{{ object.num_likes }} <span class="text-muted"></span>Like{{ object.num_likes|pluralize }}</a>
                        {% else %}
                          <a href="" class="text-white" data-toggle="modal" data-target="#likemodal">{{ object.num_likes }} <span class="text-muted"></span>Like{{ object.num_likes|pluralize }}</a>
                        {% endif %}                          
                      </div>
                    {% else %}
                      <div class="border-bottom border-sm py-3 py-lg-4">
                        {% if object.number_of_comments == 0 %}
                          <a class="d-none text-white">{{ object.number_of_comments }} <span class="text-muted">Comment{{ object.number_of_comments|pluralize }}</span></a>
                        {% else %}
                          <a class="mr-3 text-white">{{ object.number_of_comments }} <span class="text-muted">Comment{{ object.number_of_comments|pluralize }}</span></a>
                        {% endif %}

                        {% if object.num_likes == 0 %}
                          <a href="" class="d-none text-white" data-toggle="modal" data-target="#likemodal">{{ object.num_likes }} <span class="text-muted">Like{{ object.num_likes|pluralize }}</span></a>
                        {% else %}
                          <a href="" class="text-white" data-toggle="modal" data-target="#likemodal">{{ object.num_likes }} <span class="text-muted">Like{{ object.num_likes|pluralize }}</span></a>
                        {% endif %} 
                      </div>
                    {% endif %}
                    
                      <div class="action-btns d-flex text-center justify-content-around align-items-center mx-auto" >
                        <a href="#comment" class="d-flex align-items-center btn">
                          <i class="far fa-comment-alt icons"></i><span class="ml-2">{{ object.number_of_comments }}</span> 
                        </a>
                        <button class="btn">
                          <i class="fa fa-retweet icons"></i>
                        </button>

                        {% if user.is_authenticated %}
                          {% if object in user_liked_post %}
                            <form action="{% url 'like_post' %}" method="POST" id="{{object.id}}" class="like-form "> 
                              {% csrf_token %}
                              <input type="hidden" name="post_id" value={{object.id}}>

                              <button type="submit" name="post_id" value="{{post.id}}" class="btn d-flex align-items-center like-btn{{object.id}}">
                                <!-- {% if request.user in post_obj.liked.all %} -->
                                  <!-- <i class="fas fa-heart icons" style="color:rgba(252, 63, 63, 0.979)"></i><span class="ml-2">{{ object.num_likes }}</span> -->
                                <!-- {% else %} -->
                                  <!-- <i class="far fa-heart icons"></i><span class="ml-2">{{ total_likes }}</span> -->
                                  <i class="fa fa-heart icons like-btn{{object.id}}" style="color: red;"></i><span class="ml-2 like-count{{object.id}}">{{ object.num_likes }}</span>
                                <!-- {% endif %} -->
                              </button>
                            </form>
                          {% else %}
                            <form action="{% url 'like_post' %}" method="POST" id="{{object.id}}" class="like-form "> 
                              {% csrf_token %}
                              <input type="hidden" name="post_id" value={{object.id}}>

                              <button type="submit" name="post_id" value="{{post.id}}" class="btn d-flex align-items-center like-btn{{object.id}}">
                                <!-- {% if request.user in post_obj.liked.all %} -->
                                  <!-- <i class="fas fa-heart icons" style="color:rgba(252, 63, 63, 0.979)"></i><span class="ml-2">{{ object.num_likes }}</span> -->
                                <!-- {% else %} -->
                                  <!-- <i class="far fa-heart icons"></i><span class="ml-2">{{ total_likes }}</span> -->
                                  <i class="far fa-heart icons like-btn{{object.id}}"></i><span class="ml-2 like-count{{object.id}}">{{ object.num_likes }}</span>
                                <!-- {% endif %} -->
                              </button>
                            </form>
                          {% endif %}
                            
                        {% else %}

                          <button name="post_id" value="{{post.id}}" class="btn d-flex align-items-center like-btn{{object.id}}">
                              <i class="far fa-heart icons like-btn{{object.id}}"></i><span class="ml-2 like-count{{object.id}}">{{ object.num_likes }}</span>
                          </button>

                        {% endif %}


                        <!-- <button class="btn">
                          <i class="far fa-heart icons"></i>
                        </button> -->

                        <button class="btn" id="{{object.id}}" data-toggle="modal" data-target="#modal-{{object.id}}">
                          <i class="fas fa-share-alt icons "></i>
                        </button>
                        
                        
                        
                      </div>
                  </div>
            </article>

            <div class="blog_comment">
              <h2 class="mt-5">Comments</h2>
              <hr>
              {% if not comments %}
                <h5>No comments yet</h5>
              {% else %}
                <p>{{ object.number_of_comments }} Comment{{ object.number_of_comments|pluralize }}</p>
                <hr>
                <div class="header-border">

                </div>
                {% for comment in comments %}

                  <article class="media content-section mb-3">
                    <a href="{{ comment.author.profile.get_absolute_url }}" >
                          <img class="rounded-circle article-img" alt="{{ comment.author }}" src="{{ comment.author.profile.image.url }}" />
                        </a>
                    <div class="media-body">
                      <div class="article-metadata post-detail d-flex justify-content-between align-items-center">
                        <div class="">
                          <span class="h4">{{ comment.author.profile.displayname }}</span>
                          <a class="h6" href="{{ comment.author.profile.get_absolute_url }}"><span>@</span>{{ comment.author }}</a><br class="d-block d-lg-none">
                          <!-- <span>@</span><a class="h6" href="{% url 'user-posts' comment.author.username %}">{{ comment.author }}</a> -->
                          replying <a class="mr-2 h6" href="{{object.author.profile.get_absolute_url}}"><span>@</span>{{ object.author }}</a>
                          <!-- <small class="text-muted">{{ comment.date_added|date:'m D, Y' }}</small>    -->
                        </div>
                        <div class="dropdown float-right position-relative mt-2">
                          <a href="#" class="dropdown-toggle h4 text-muted " data-toggle="dropdown"
                              aria-expanded="false">
                              <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <ul class="dropdown-menu dropdown-menu-right">
                              <!-- <li><a href="#" class="dropdown-item">Not interested in this post</a></li> -->
                              <!-- <li class="dropdown-divider"></li> -->
                              
                              
                              {% if comment.author == user %}
                              <li class=""><a class="dropdown-header">Coming soon</a></li>
                                <li><a class="dropdown-item disabled" href="{% url 'comment-update' comment.id %}">Update Comment</a></li>
                                <li><a class="dropdown-item" href="{% url 'comment-delete' comment.id %}">Delete Comment</a></li>
                              {% else %}
                              <li><a href="#" class="dropdown-item">Follow <span>@</span>{{comment.author}}</a></li>
                              <li><a href="#" class="dropdown-item">Mute <span>@</span>{{comment.author}}</a></li>
                              <li><a href="#" class="dropdown-item">Block <span>@</span>{{comment.author}}</a></li>
                              <li class="dropdown-divider"></li>
                              <li><a href="#" class="dropdown-item">Report Comment</a></li>

                              {% endif %}
                          </ul>
                        </div>
                      </div>


                      <!-- <div class="border-bottom border-sm pt-3"> -->
                      <div class=" pt-3">

                        <!-- <h2 class="article-title">{{ object.title }}</h2> -->
                        <p class="article-content">{{ comment.content|safe  }}</p>

                        <!-- <small class="text-muted">{{ comment.date_added|date:'d M, Y' }}</small> -->
                      </div>
                        <div class="action-btns d-flex text-center justify-content-around align-items-center mx-auto" >
                            <button class="btn">
                              <i class="far fa-comment-alt icons"></i>
                            </button>
                            <button class="btn">
                              <i class="fa fa-retweet icons"></i>
                            </button>
                            <button class="btn">
                              <i class="far fa-heart icons"></i>
                            </button>

                            <button class="btn" id="{{comment.id}}" data-toggle="modal" data-target="#sharemodal-{{comment.id}}">
                              <i class="fas fa-share-alt icons "></i>
                            </button>
                        </div>
                    </div>
                  </article>
                  <!--Comment Share Modal-->
                  <div class="modal fade" id="sharemodal-{{comment.id}}" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="modalLongTitle">
                                    <!-- Share <span>@</span>{{comment.author}}'s Comment -->
                                    {% if comment.author == user %}
                                      Share <span>Your</span> Comment
                                    {% else %}
                                        Share <span>@</span>{{comment.author}}'s Comment
                                    {% endif %}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="pt-3">
                                        <!-- <button type="button" class="" data-toggle="modal" data-target="#coursemodal"> -->
                                            <a href="">
                                                <i class="fas fa-bookmark share-icons"></i>
                                                <span class="ml-1">Bookmarks</span>
                                            </a>
                                            <a href="" class="">
                                                <i class="fas fa-link share-icons"></i>
                                                <span class="ml-1">Copy Link</span>
                                            </a>
                                            <a href="" class="mt-3 mt-md-0 mt-lg-0">
                                                <i class="fas fa-share-alt share-icons mt-3 mt-md-0 mt-lg-0"></i>
                                                <span class="ml-1">Share via</span>
                                            </a>
                                            

                                            
                                        <!-- </button> -->
                                </div>
                            </div>
                            <div class="modal-body">
                                <div class=" border-top border-sm pt-3">
                                    <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter share-icons"></i></a>
                                    <a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook share-icons"></i></a>
                                    <!-- <a href="" target="_blank"><i class="fab fa-mail"></i></a> -->
                                    <a href="https://whatsapp.com/" target="_blank"><i class="fab fa-whatsapp share-icons"></i></a>
                                    <a href="https://instagram.com/" target="_blank"><i class="fab fa-instagram share-icons"></i></a>
                                </div>
                            </div>
                            
                            
                        </div>

                    </div>

                  </div>
                {% endfor %}
              {% endif %}
            </div>

            <hr>
            <div class="post-comment" id="comment">
              <h2>Leave a comment</h2>
              {% if user.is_authenticated %}
                <form method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    {{ comment_form }}
                  </div>
                  <button class="btn btn-dark">Post</button>
                </form>
              {% else %}
                <p><a href="{% url 'login' %}">Log in</a> to add a comment!</p>
              {% endif %}
            </div>
          </div>
      </div>

      {% if user.is_authenticated %}
        <div>
            <!-- <button type="button" class="" data-toggle="modal" data-target="#coursemodal"> -->
                <a href="{% url 'post-create' %}">
                    <i class="fas fa-plus add_new"></i>
                </a>
                
            <!-- </button> -->
        </div>
        {% endif %}
    </div>

    <!--Post Share modal-->
            <div class="modal fade" id="modal-{{object.id}}" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        
                        <div class="modal-header">
                            <h5 class="modal-title text-center" id="modalLongTitle">

                                {% if object.author == user %}
                                  Share <span>Your</span> Post
                                {% else %}
                                    Share <span>@</span>{{object.author}}'s Post
                                {% endif %}
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="pt-3">
                                    <!-- <button type="button" class="" data-toggle="modal" data-target="#coursemodal"> -->
                                        <a href="">
                                            <i class="fas fa-bookmark share-icons"></i>
                                            <span class="ml-1">Bookmarks</span>
                                        </a>
                                        <a href="" >
                                            <i class="fas fa-link share-icons"></i>
                                            <span class="ml-1">Copy Link</span>
                                        </a>
                                        <a href="" class="">
                                            <i class="fas fa-share-alt share-icons mt-3 mt-md-0 mt-lg-0"></i>
                                            <span class="ml-1">Share via</span>
                                        </a>
                                        

                                        
                                    <!-- </button> -->
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class=" border-top border-sm pt-3">
                                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter share-icons"></i></a>
                                <a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook share-icons"></i></a>
                                <!-- <a href="" target="_blank"><i class="fab fa-mail"></i></a> -->
                                <a href="https://whatsapp.com/" target="_blank"><i class="fab fa-whatsapp share-icons"></i></a>
                                <a href="https://instagram.com/" target="_blank"><i class="fab fa-instagram share-icons"></i></a>
                            </div>
                        </div>
                        
                        
                    </div>

                </div>

            </div>

            <div class="modal fade" id="likemodal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                      
                      <div class="modal-header">
                          <h5 class="modal-title text-center" id="modalLongTitle">
                              <!-- Share <span>@</span>{{comment.author}}'s Comment -->
                              Users who liked
                          </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <div class="pt-3">
                                  <!-- <button type="button" class="" data-toggle="modal" data-target="#coursemodal"> -->
                                      <a href="">
                                          Tests
                                      </a>
                                      
                                      

                                      
                                  <!-- </button> -->
                          </div>
                      </div>
                      
                      
                  </div>

              </div>

            </div>

{% endblock content %}